.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
output/*
!output/.gitkeep
models/*
!models/.gitkeep
model/*
!model/.gitkeep
*.pth
*.onnx
data/*
.zip
*.zip
*.pt
*.npy
*.npz
*.csv
*.parquet
*.feather
wandb/
mlruns/
.DS_Store